.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  height: 100%;
  width: var(--default-layout-width);
  justify-content: space-between;
  padding: 24px;

  .search,
  .search-result {
    width: 361px;

    .search-title {
      font-size: 1.4rem;
      font-weight: 500;
      padding: 5px 12px;
      color: rgba(22, 24, 35, 0.5);
    }
  }

  .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 361px;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding: 0px 0px 0px 16px;
    border: 1.5px solid transparent;

    .input {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      color: #828282;
      font-size: 1.6rem;
      outline: none;
      caret-color: rgb(254, 44, 85);
      flex: 1;
    }

    .input:not(:placeholder-shown) ~ .search-icon {
      color: rgba(22, 24, 35, 0.75);
    }

    .clear-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 16px;
      border: none;

      .clear-icon {
        width: 100%;
        height: 100%;
      }
    }

    .loading {
      position: relative;
      transform: translateX(-130%);
    }

    .span-divine {
      width: 1px;
      height: 28px;
      margin: -3px 0;
      background: rgba(22, 24, 35, 0.12);
    }

    .search-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 100%;
      outline: none;
      border: none;
      border-radius: 0px 92px 92px 0px;

      &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
      }

      &:active {
        background-color: rgba(22, 24, 35, 0.06);
      }

      .search-icon {
        width: 24px;
        height: 24px;
        color: rgba(22, 24, 35, 0.34);
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: 52px;
      width: 1px;
      height: 28px;
      margin: -3px 0;
      background: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
      border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 265px;

    .upload-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      min-width: 110px;
      padding: 0 16px;
      height: 36px;
      border: 1px solid rgba(22, 24, 35, 0.12);
      border-radius: 2px;
      background: rgba(255, 255, 255, 1);
      cursor: pointer;

      &:hover {
        background-color: rgba(22, 24, 35, 0.03);
      }
    }

    .messages-btn {
      background-color: transparent;
      cursor: pointer;
    }

    .inbox-btn {
      background-color: transparent;
      cursor: pointer;
    }

    .user-btn {
      width: 32px;
      height: 32px;
      background-color: rgba(22, 24, 35, 0.06);
      border-radius: 50%;
      cursor: pointer;
    }

    .user-icon {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .moreinfo-btn {
      margin-top: 3px;
      margin-left: 16px;
      background: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
  }
}
