.moreinfo-result {
  width: 223px;
}

.wrapper-moreinfo {
  display: flex;
  flex-direction: column;
}

.info-item {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  min-height: 36px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: white;
  line-height: 22px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.info-wrapper {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.info-icon {
  margin-top: 5px;
  margin-right: 8px;
}
