.moreinfo-result {
  width: 223px;
}

.wrapper-moreinfo {
  display: flex;
  flex-direction: column;
}

.menu-body {
  overflow-y: auto;
}

.info-item {
  padding: 6px;
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  min-height: 36px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: white;
  line-height: 22px;

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.info-wrapper {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.info-icon {
  margin-top: 5px;
  margin-right: 8px;
}

// Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0;
}

.back-btn {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
